.header {
  width: 100%;
  background-color: #F2F4F7;
  border-bottom: 1px solid #F2F4F7;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  height: 68px;
  padding: 0 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}