.header {
  width: 100%;
  background-color: #f2f4f7;
  border-bottom: 1px solid #f2f4f7;
  margin-bottom: 4px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  height: 68px;
  padding: 0 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.navElemFirst {
  color: #0b44cd;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
}

.navElemFirst:hover {
  text-decoration: underline;
}

.navElemFirst:focus-visible {
  outline: 2px solid #0b44cd;
  outline-offset: 2px;
}

.navElemSecond {
  color: #101828;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
}

.navElemSecond:hover,
.navElemSecond:focus-visible {
  color: #0b44cd;
}

.navElemSecond:focus-visible {
  outline: 2px solid #0b44cd;
  outline-offset: 2px;
}
