.hero {
  position: relative;
  min-height: 700px;
  overflow: hidden;
  padding: 0;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image:
    linear-gradient(-180deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../../app/public/img/hero/hero@2x.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: scale(1.02);
  z-index: 0;
}

.container {
  position: relative;
  z-index: 2;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 436px;
}

.title {
  font-family: var(--font-manrope), sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 1.2;
  text-align: center;
  color: #ffffff;
  margin-bottom: 16px;
}

.description {
  font-family: var(--font-manrope), sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  text-align: center;
  color: #ffffff;
  margin-bottom: 40px;
}

.LinkHero {
  width: 276px;
  height: 44px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  padding: 12px 0px;
  width: 276px;
  height: 44px;
  background-color: #3470ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0,5px;
  color: #ffffff;
  margin: 0 auto;
  font-family: var(--font-manrope), sans-serif;
}

.LinkHero:hover {
  background-color: #0B44CD;
}

